body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  background: #555;
  color: white;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  color: black;
}
.card {
  color: black;
  background-color: #f1f1f1;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar h2 {
	padding: 16px;
}

.sidebar-info {
	padding: 0px 16px;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}